.container {
  padding: 100px;
  color: #5de9b2;
  text-align: center;
  div {
    margin-bottom: 50px;
    &.title {
      font-size: 50px;
      font-weight: bold;
    }
    button {
      background-color: #f6c354;
      color: #1b1b1b;
      font-size: 20px;
      border-radius: 5px;
      padding: 5px 15px;
      cursor: pointer;
    }
  }
}
