.user {
    position: relative;
    height: 600px;
    img {
        position: absolute;
        top: 30px;
        left: 40px;
        height: 540px;
        border-radius: 5px;
    }
    .name {
        font-size: 40px;
        font-weight: bold;
        position: absolute;
        bottom: 50px;
        right: 80px;
    }
}