.container {
    width: 100vw;
    min-height: calc(100vh - 100px);
    background-color: #fa824c;
    .sub-nav {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100vw;
        height: 200px;
        a {
            text-decoration: none;
            font-size: 20px;
            font-weight: bold;
            color: #FAFFFD;
            background-color: #9c3708;
            padding: 10px 20px;
            border-radius: 10px;
            width: 150px;
            display: block;
            text-align: center;
        }
    }
    .detail {
        width: 50vw;
        height: 600px;
        margin: 20px auto;
        border-radius: 10px;
        background-color: #FAFFFD;
    }
}