@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #023047;
    color: #ffb703;
    font-size: 50px;
    font-family: Poppins, 'Times New Roman', Times, serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}