@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&family=Roboto:wght@400;700;900&family=Smooch+Sans:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e2328;
  color: #ffaa00;
  font-size: 60px;
  font-weight: bold;
  font-family: "Smooch Sans", sans-serif;
}
